# IMPACT GX61 Piano
ACTION=="add", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}="2467/2034/31", RUN+="/usr/local/bin/piano_control.sh start"
ACTION=="remove", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="2467/2034/31", RUN+="/usr/local/bin/piano_control.sh stop"
